**Jake McRoberts  
July 7th, 2017  
Case Study: Retail Sales Data**

# Improve Demand Forecasting using Retail Sales Data

Python version used for analyses: 3.6.X

Data files: 
- sales.txt
- article_master.txt

Tasks:
1. Prepare and analyze the data to assure sufficient quality and suitability for the business case study.
2. Identify what is driving sales and which type of promotion has a stronger impact on sales.
3. Forecast sales (sold units) for the following month. 
4. Perform appropriate diagnostics to check whether your methods and results from above are reliable.

### 1. Import, clean, and wrangle sales data to ensure data quality and suitability for analysis

##### Import Data

In [ ]:
import pandas as pd

# import transactional sales data of articles into a pandas dataframe
data_sales = pd.read_csv("sales.txt", sep = ";")

# import attribute data of sold articles
data_attribute = pd.read_csv("article_master.txt", sep = ";")

##### Inspect Data

Verify data looks clean and suitable from a high level view of it.

In [1]:
data_sales.head()

,country,article,sales,regular_price,current_price,ratio,retailweek,promo1,promo2
0,Germany,AA1821,62,31.95,25.95,0.812207,2014-12-28,1,0
1,Germany,AA1821,29,31.95,22.95,0.718310,2015-01-04,0,0
2,Germany,AA1821,58,31.95,28.95,0.906103,2015-01-11,0,0
3,Germany,AA1821,49,31.95,29.95,0.937402,2015-01-18,0,0
4,Germany,AA1821,883,31.95,24.95,0.780908,2015-01-25,0,0

In [11]:
data_sales.shape

(81426, 9)

Check for any NaN values in sales transactional data.

In [13]:
data_sales.isnull().values.any()

False

In [14]:
data_attribute.head()

  article      category          productgroup   cost
0  OC6355      TRAINING                 SHOES  13.29
1  AP5568      TRAINING                SHORTS   2.29
2  CB8861          GOLF  HARDWARE ACCESSORIES   1.70
3  LI3529       RUNNING                 SHOES   9.00
4  GG8661  RELAX CASUAL                 SHOES   9.60

In [15]:
data_attribute.shape

(476, 4)

Check for any NaN values in sales attribute data.

In [17]:
data_attribute.isnull().values.any()

False

From a high level perspective, the data looks okay. There aren't any NaN's and the size of the dataframes makes sense based on the size of the raw data in the text files. Next, let's do some plotting to visualize what kind of data and how much data I am working with regarding categories, etc.

##### Plot Data